.price-page{
    position: relative;
    width: 1440px;
    height: 1000px;
    display: flex;
    background: #141B1C;
    color: #FFFFFF;
}
    .price-tables{
        display: flex;
        margin: auto;
     
     .price-card{
         position: relative;
         background: #334247;
         box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
         margin-right: 18px ;
         width: 380px;
         height: 770px;
         
         &__section{
             position: relative;
             display: flex;
             width: 100%;
             height: 130px;
             align-items: center;
             justify-content: center;
               }
              &__item{
                 position: absolute;
                 width: 147px;
                 height: 25px;
                 background: #DC3F45;
                 transform: rotate(45deg);
                 position: absolute;
                 right: 0%;
                 left: 79.5%;
                 bottom: 14.71%;
                 top: 34.29%;
                  }              
                  &__item-into{
                      position: relative;
                     }
                        &__word{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-right: -50%;
                            transform: translate(-50%, -50%);
                            font-weight: bold;
                            font-size: 15px;
                             }
     
         &__title{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin: 0;
             }
                 &__main-name{
                     font-size: 35px;
                     font-weight: bold;         
                     line-height: 43px;
                         }
                   &__second-name{
                      font-size: 20px;
                      line-height: 24px;
                      font-weight: 300;
                        }

        &__price{
            position: relative;
            height: 105px;
            width: 100%;
            }
              &__image-first{
               background-color: #5BB189;
                }
                  &__image-first-item{
                    position:absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%); 
                  }            
               &__image-second{
                 background: #3A6BA5;           
                 }
                   &__image-second-item{
                       position:absolute;
                       top: 50%; 
                       left: 50%;
                       margin-right: -50%;
                       transform: translate(-50%, -50%)
                         }     
                     &__image-third{
                        background: #EC632A;
                         }
                         &__image-third-item{
                             position:absolute;
                             top: 50%;
                             left: 50%;
                            margin-right: -50%;
                             transform: translate(-50%, -50%)
                         }

                    &__image-price-99, &__image-price-299, &__image-price-599{
                        font-size: 55px;
                        font-weight: bold;
                    }
        
        &__description{
            display: flex;
            position: absolute;
            top: 275px;
            bottom: 459px;
            left: 26px;
            right: 26px;
            text-align: center;
            }
              &__description_item{
                  margin: auto;
              }
         
        &__options-list{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 351px;
            
          }
              &__describe_item:nth-child(odd) {
                  background: #2A3438;
                 }          
                   &__describe_item{ 
                       position: relative;
                       height: 50px;
                       width: 380px; 
                        }
                         &__paragraf_item{
                             width: 300px;
                            position: absolute;
                            left: 59px;
                         }
                            &__image_item{
                                position: absolute;
                                top: 18px;
                                left: 22px;
                            }

        &__order-btn{
            position: absolute;
            left: 112px;
            bottom: 40px;
            width: 155px;
            height: 40px;
            border-radius: 20px;
            font-size: 14px;
            color: white;
            outline: none;
            border: transparent;
        }
        .btn_1{
            background: #5BB189;
        }             
        .btn_2{
            background: #3A6BA5;
        }
        .btn_3{
            background: #EC632A;
        }
    }
}
