body{
    background-color: black;
    display: flex;
    height: 100vh;
}
     main{
        display: flex;
        margin: auto;
        
     }
     .price-card{
         position: relative;
         width: 380px;
         height: 770px;
         background: #334247;
         box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
         margin-right: 18px ;
         
         .block__part{
             position: relative;
             display: flex;
             width: 100%;
             height: 130px;
             align-items: center;
             justify-content: center;
         }
         .popular_item{
            position: absolute;
            width: 147px;
            height: 25px;
            background: #DC3F45;
            transform: rotate(45deg);
            position: absolute;
            right: 0%;
            left: 79.5%;
            bottom: 14.71%;
            top: 34.29%;
        }
        .pupular_item_into{
            position: relative;
        }
        .popular_word{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 15px;
        }
     
         .price-card__title{
           display: flex;
           flex-direction: column;
           align-items: center;
           margin: 0;
       }
          .main_name{
            font-size: 35px;
            font-weight: bold; 
        }
        .second_name{
            
        }
        .price-card__price{
            position: relative;
            height: 105px;
            width: 100%;
            background-color: #5BB189;

        }
        .image_first_item{
          position:absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);
           
        }
        
        .image_second{
            position: relative;
            height: 105px;
            width: 100%;
            background: #3A6BA5;
        }
        .image_second_item{
            position:absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
        
        .image_third{
            position: relative;
            height: 105px;
            width: 100%;
            background: #EC632A;

        }
        .image_third_item{
            position:absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }

        .image_price_99, .image_price_299, .image_price_599{
            font-size: 55px;
            font-weight: bold;
        }
        
        .price-card__description{
            position: absolute;
            top: 275px;
            left: 26px;
            right: 26px;
            text-align: center;
        }
         
        .price-card__options-list{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 351px;
            
        }
        
        .describe_item{ 
            position: relative;
            height: 50px;
            width: 380px;
            
        }
        .paragraf_item{
            width: 300px;
           position: absolute;
           left: 59px;
        }
        .image_item{
            position: absolute;
            top: 18px;
            left: 22px;
        }

        .price-card__order-btn{
            position: absolute;
            left: 112px;
            bottom: 40px;
            width: 155px;
            height: 40px;
            border-radius: 20px;
            color: white;
        }
        .btn_1{
            background: #5BB189;
        }
        .btn_2{
            background: #3A6BA5;
        }
        .btn_3{
            background: #EC632A;
        }
        
        
}